.panel-body {
  height:auto;
  background-color:#dee1e5;
}

.jumbotron {
  margin-top:10px;
    background-color:#c9d5e8;
}

.page-header {
    background-image: url('../img/background.png');
    border: 2px solid black;
}

.page-header img {
  margin-top:10px;
  margin-right:5px;
  float:right;

}

.bg-deco {
  background-image: url('../img/background.png');
  background-attachment:fixed;
}

#aiport {
  background-color:white;
  margin-top:10px;
  margin-left:5px;
  border: 2px solid black;
  width:200px;
  padding:1px;
  display:inline-block;
  text-align:center;
  padding-top:7px;
}

.panel {
  border: 1px solid black;
}

.panel-heading {
  border-bottom: 1px solid black;
}

.panel-heading:hover {
  background-color:#f3f3f3;
  color:#000;
}

kbd {
  font-size: 20px;
  background-color:#99b1db;
  border-left:2px solid black;
  border-bottom:2px solid black;
}

kbd:hover {
  background-color:#133977;
}
